<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.roy.tester.mytester">

    <application
        android:name="com.roy.tester.mytester.TestApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:manageSpaceActivity="com.roy.tester.systemdata.SystemDataManagerActivity"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.roy.tester.service.TestActivity">
        </activity>
        <activity android:name="com.roy.tester.tpaint.PaintActivity">
        </activity>

        <activity android:name="com.roy.tester.web.WebViewActivity">
        </activity>

        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>
        <!--Include the AdActivity and InAppPurchaseActivity configChanges and themes. -->
        <activity android:name="com.google.android.gms.ads.AdActivity" android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" android:theme="@android:style/Theme.Translucent"/>
        <activity android:name="com.google.android.gms.ads.purchase.InAppPurchaseActivity" android:theme="@style/Theme.IAPTheme"/>
        <activity android:name="com.roy.tester.ads.AdsActivity">
        </activity>

        <!--Service-->
        <service android:name="com.roy.tester.service.TestService">
        </service>

        <!--Background Process-->
        <service
            android:name="com.roy.tester.process.DaemonProcess"
            android:exported="false"
            android:process=":DaemonProcess" >
        </service>

        <!--AIDL-->
        <activity android:name="com.roy.tester.aidl.AidlClientActivity"
             android:label="@string/app_name">
        </activity>

        <activity android:name="com.roy.tester.aidl.AidlServerActivity"
            android:label="@string/app_name">
        </activity>

        <service android:name="com.roy.tester.aidl.AidlService" android:process=":DaemonProcess">
            <intent-filter>
                <!-- AIDL完整路径名。必须指明，客户端能够通过AIDL类名查找到它的实现类 -->
                <action android:name="com.roy.tester.aidl.IAidlService" />
            </intent-filter>
        </service>

        <!--GP-->
		<activity
            android:name="com.roy.tester.gp.GpAccountActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>

        <!--System Data Manager-->
        <activity android:name="com.roy.tester.systemdata.SystemDataManagerActivity"
            android:label="@string/app_name"
            android:process=":DaemonProcess">
        </activity>

        <!--Provider-->
        <activity android:name="com.roy.tester.provider.ProviderActivity"
            android:label="@string/app_name">
        </activity>

        <provider android:name="com.roy.tester.provider.MyProvider" android:authorities="com.roy.myprovider" />

        <!--Alarm-->
        <receiver android:name="com.roy.tester.process.DaemonReceiver"
            android:process=":DaemonProcess" >
            <intent-filter>
                <action android:name="com.roy.tester.alarm"/>
            </intent-filter>
        </receiver>

        <activity android:name="com.roy.tester.greendao.GreenDaoActivity"
            android:label="@string/app_name">
        </activity>

        <activity android:name="com.roy.tester.okhttp.OkHttpActivity"
            android:label="@string/app_name">
        </activity>

        <activity android:name="com.roy.tester.vpn.ToyVpnActivity"
            android:label="@string/app_name">
        </activity>


    </application>
	
	<uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />



</manifest>